.table {
  margin-top: 50px;
}
.table__wrap {
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.table__panel {
  width: 25vw;
  padding: 1em;
  margin: 1em;
  border: 1px solid rgb(32, 12, 146);
}
